version: "3.9"

services:
 postgres:
   image: postgres:13.3
   environment:
     POSTGRES_DB: "habrdb"
     POSTGRES_USER: "habrpguser"
     POSTGRES_PASSWORD: "pgpwd4habr"
   ports:
     - "5432:5432"
 web:
   build: .
   command: python manage.py runserver 0.0.0.0:8000
   volumes:
     - .:/lamp
   ports:
     - "8000:8000"
   depends_on:
     - postgres
