{% extends 'base.html' %}
{% block content %}
    <h1>Тел.: 13598137249823</h1>
    <div>{{ test1 }}</div>
    <div>
        <br><br>
        Также вы можете написать нам,
        а можете и не писать,
        а может и да
        <br>
        <br>
        test
        <br><br><br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        <br>
        Также вы можете написать нам,
        а можете и не писать,
        а может и да
        <br>
    </div>
    <br><br><br><br><br><br><br><br>
    end
    </div>

{% endblock %}